altgraph==0.17
amqp==2.6.1
anyio==3.4.0
appnope==0.1.0
argon2-cffi==20.1.0
asgiref==3.4.1
attrs==20.1.0
autobahn==21.3.1
Automat==20.2.0
backcall==0.2.0
beautifulsoup4==4.9.0
bleach==3.1.5
CacheControl==0.12.6
cachetools==4.1.1
celery==4.4.7
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==8.0.3
confusable-homoglyphs==3.2.0
constantly==15.1.0
cycler==0.10.0
dateparser==1.0.0
dateutils==0.6.12
decorator==4.4.2
defusedxml==0.6.0
docopt==0.6.2
entrypoints==0.3
fastapi==0.70.1
fbchat==1.3.2
greenlet==1.1.1
grpcio==1.33.1
gunicorn==20.1.0
h11==0.12.0
httplib2==0.18.1
hyperlink==21.0.0
idna==2.9
incremental==21.3.0
inflection==0.5.1
iniconfig==1.0.1
install==1.3.4
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
joblib==0.16.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jws==0.1.3
kiwisolver==1.2.0
kombu==4.6.11
lxml==4.5.0
macholib==1.14
Mahadiscom==0.1.1
Markdown==3.3.2
MarkupSafe==1.1.1
matplotlib==3.3.1
mistune==0.8.4
more-itertools==8.5.0
msgpack==1.0.0
mysql-client==0.0.1
mysql-connector==2.2.9
mysql-connector-python==8.0.20
nbconvert==5.6.1
nbformat==5.0.7
nomics-python==3.2.0
notebook==6.1.3
nsetools==1.0.11
numpy==1.19.0
oauth2client==3.0.0
oauthlib==3.1.1
packaging==20.4
pandas==1.0.5
pandocfilters==1.4.2
parso==0.7.1
paytm==0.1.8
pbkdf2==1.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pipreqs==0.4.11
pluggy==0.13.1
prettytable==2.0.0
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
ptyprocess==0.6.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.4.3
pydantic==1.8.2
Pygments==2.6.1
PyInstaller==3.6
PyJWT==2.1.0
PyMySQL==0.9.3
pyobjc==6.2
pyobjc-core==6.2
pyobjc-framework-Accounts==6.2
pyobjc-framework-AddressBook==6.2
pyobjc-framework-AdSupport==6.2
pyobjc-framework-AppleScriptKit==6.2
pyobjc-framework-AppleScriptObjC==6.2
pyobjc-framework-ApplicationServices==6.2
pyobjc-framework-AuthenticationServices==6.2
pyobjc-framework-AutomaticAssessmentConfiguration==6.2
pyobjc-framework-Automator==6.2
pyobjc-framework-AVFoundation==6.2
pyobjc-framework-AVKit==6.2
pyobjc-framework-BusinessChat==6.2
pyobjc-framework-CalendarStore==6.2
pyobjc-framework-CFNetwork==6.2
pyobjc-framework-CloudKit==6.2
pyobjc-framework-Cocoa==6.2
pyobjc-framework-Collaboration==6.2
pyobjc-framework-ColorSync==6.2
pyobjc-framework-Contacts==6.2
pyobjc-framework-ContactsUI==6.2
pyobjc-framework-CoreAudio==6.2
pyobjc-framework-CoreAudioKit==6.2
pyobjc-framework-CoreBluetooth==6.2
pyobjc-framework-CoreData==6.2
pyobjc-framework-CoreHaptics==6.2
pyobjc-framework-CoreLocation==6.2
pyobjc-framework-CoreMedia==6.2
pyobjc-framework-CoreMediaIO==6.2
pyobjc-framework-CoreML==6.2
pyobjc-framework-CoreMotion==6.2
pyobjc-framework-CoreServices==6.2
pyobjc-framework-CoreSpotlight==6.2
pyobjc-framework-CoreText==6.2
pyobjc-framework-CoreWLAN==6.2
pyobjc-framework-CryptoTokenKit==6.2
pyobjc-framework-DeviceCheck==6.2
pyobjc-framework-DictionaryServices==6.2
pyobjc-framework-DiscRecording==6.2
pyobjc-framework-DiscRecordingUI==6.2
pyobjc-framework-DiskArbitration==6.2
pyobjc-framework-DVDPlayback==6.2
pyobjc-framework-EventKit==6.2
pyobjc-framework-ExceptionHandling==6.2
pyobjc-framework-ExecutionPolicy==6.2
pyobjc-framework-ExternalAccessory==6.2
pyobjc-framework-FileProvider==6.2
pyobjc-framework-FileProviderUI==6.2
pyobjc-framework-FinderSync==6.2
pyobjc-framework-FSEvents==6.2
pyobjc-framework-GameCenter==6.2
pyobjc-framework-GameController==6.2
pyobjc-framework-GameKit==6.2
pyobjc-framework-GameplayKit==6.2
pyobjc-framework-ImageCaptureCore==6.2
pyobjc-framework-IMServicePlugIn==6.2
pyobjc-framework-InputMethodKit==6.2
pyobjc-framework-InstallerPlugins==6.2
pyobjc-framework-InstantMessage==6.2
pyobjc-framework-Intents==6.2
pyobjc-framework-IOSurface==6.2
pyobjc-framework-iTunesLibrary==6.2
pyobjc-framework-LatentSemanticMapping==6.2
pyobjc-framework-LaunchServices==6.2
pyobjc-framework-libdispatch==6.2
pyobjc-framework-LinkPresentation==6.2
pyobjc-framework-LocalAuthentication==6.2
pyobjc-framework-MapKit==6.2
pyobjc-framework-MediaAccessibility==6.2
pyobjc-framework-MediaLibrary==6.2
pyobjc-framework-MediaPlayer==6.2
pyobjc-framework-MediaToolbox==6.2
pyobjc-framework-Metal==6.2
pyobjc-framework-MetalKit==6.2
pyobjc-framework-ModelIO==6.2
pyobjc-framework-MultipeerConnectivity==6.2
pyobjc-framework-NaturalLanguage==6.2
pyobjc-framework-NetFS==6.2
pyobjc-framework-Network==6.2
pyobjc-framework-NetworkExtension==6.2
pyobjc-framework-NotificationCenter==6.2
pyobjc-framework-OpenDirectory==6.2
pyobjc-framework-OSAKit==6.2
pyobjc-framework-OSLog==6.2
pyobjc-framework-PencilKit==6.2
pyobjc-framework-Photos==6.2
pyobjc-framework-PhotosUI==6.2
pyobjc-framework-PreferencePanes==6.2
pyobjc-framework-PubSub==6.2
pyobjc-framework-PushKit==6.2
pyobjc-framework-Quartz==6.2
pyobjc-framework-QuickLookThumbnailing==6.2
pyobjc-framework-SafariServices==6.2
pyobjc-framework-SceneKit==6.2
pyobjc-framework-ScreenSaver==6.2
pyobjc-framework-ScriptingBridge==6.2
pyobjc-framework-SearchKit==6.2
pyobjc-framework-Security==6.2
pyobjc-framework-SecurityFoundation==6.2
pyobjc-framework-SecurityInterface==6.2
pyobjc-framework-ServiceManagement==6.2
pyobjc-framework-Social==6.2
pyobjc-framework-SoundAnalysis==6.2
pyobjc-framework-Speech==6.2
pyobjc-framework-SpriteKit==6.2
pyobjc-framework-StoreKit==6.2
pyobjc-framework-SyncServices==6.2
pyobjc-framework-SystemConfiguration==6.2
pyobjc-framework-SystemExtensions==6.2
pyobjc-framework-UserNotifications==6.2
pyobjc-framework-VideoSubscriberAccount==6.2
pyobjc-framework-VideoToolbox==6.2
pyobjc-framework-Vision==6.2
pyobjc-framework-WebKit==6.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
Pyrebase==3.0.27
pyrsistent==0.16.0
pytest==6.0.2
python-binance==0.7.9
python-dateutil==2.8.1
python-jwt==2.0.1
python3-openid==3.2.0
pyttsx3==2.87
pytz==2020.1
pywifi==1.1.12
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
Quandl==3.6.0
regex==2021.3.17
reportlab==3.5.63
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.7.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.2
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
six==1.14.0
sklearn==0.0
sniffio==1.2.0
soupsieve==2.0
SpeechRecognition==3.8.1
speedtest-cli==2.1.2
SQLAlchemy==1.4.23
sqlparse==0.3.1
starlette==0.16.0
structlog==21.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tk==0.1.0
tmsg==0.1
toml==0.10.1
tornado==6.0.4
tqdm==4.49.0
traitlets==5.0.2
Twisted==21.2.0
txaio==21.2.1
typing-extensions==4.0.1
tzlocal==2.1
ujson==4.0.2
uritemplate==3.0.1
urllib3==1.25.9
uvicorn==0.16.0
vine==1.3.0
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wifi==0.3.8
xlrd==1.2.0
yarg==0.1.9
zope.interface==5.3.0
